@font-face {
    font-family: Pattaya;
    src: url("assets/fonts/Pattaya-Regular.ttf");
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Comfortaa;
    src: url("assets/fonts/comfortaa.woff2")
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #ffff;
    text-decoration: none;
    list-style: none;
    line-height: 17px;
    font-family: Comfortaa;
}



.dark-mode {
    filter:invert(1) hue-rotate(180deg)
}
.invert {
    filter:invert(1) hue-rotate(180deg)
}
.black {
    color: #000;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-image: url(img/pizza2.png);
    background-position: 25% 75%;
    /* background-size: 100% 100%; */
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1% 7%;
}

.header_container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

nav {
    display: flex;
}
nav ul {
    display: flex;
    margin: 0 50px;
}
nav ul:last-child{
    margin: 0 0 0 50px;
}

nav ul li{
    margin: 0 30px;
}

nav ul li:last-child{
    margin: 0 0 0 30px;
}

.logo_top {
    position: relative;
    transform: translate(-30%, 0);
}

.gastro {
    font-family: Pattaya;
    font-size:50px;
    line-height: 69px;
    letter-spacing: 0.05em;
    margin-right: 34px;
}

.five_big {
    font-size: 200px;
    line-height: 223px;
    color: rgba(255, 253, 253, 0.06);
    position: absolute;
    transform: translate(-58%, -30%);
}

.five_big:before {
    content: "";
    position: absolute;
    bottom: 35%;
    right: 110%;
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: 5px;
    background: rgba(255, 255, 255, 0.09);
}

.five_big:after {
    content: "";
    position: absolute;
    bottom: 35%;
    left: 110%;
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 5px;
    background: rgba(255, 255, 255, 0.09);
}

.five{
    font-size: 40px;
    line-height: 45px;
    letter-spacing: 0.15em;
}
.slogan p{
    font-size:30px;
    line-height:33px;
    text-align:center;
    font-weight: bold;
}

.social-media a{
    color: #3B3F49;
    margin: 0 60px;
}

/* About */
.about-us {
    display: flex;
    margin: 4% 8%;
    height: 80vh;
}
.container-about {
    display: flex;
    width: 100%;
}


.about-left {
    width: 52%;
    position: absolute;
    left: -13%;
    text-align: center;
    z-index: 2;
    align-self: center;
}
.about-left h5 {
    margin: 30px;
}
.about-left div {
    background-color:#353B47;
    box-shadow: 0px 10px 30px #BDC1CC;
    border-radius: 20px;
    padding: 50px;
}


.about-right{
    position: absolute;
    right: 0%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  .myPizza img {
      max-height: 100vh;
      height: 750px;
      border-radius: 20px;
      /* width: 80%; */
  } 

  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



    /* Menu */

    .menu{
        background: #242933;
    }

    h5 {
        font-size: 30px;
        line-height: 33px;
    }

    .menu_p {
        text-align: center;
        font-weight: bold;
        font-size: 30px;
        line-height: 33px;
        margin: 40px 0 65px 0;
    }
    .menu-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 90px;
        height: 100%;
        margin: 0 10%;
        justify-items: center;
        padding-bottom: 200px;
    }

    .menu_item{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background: #FFFFFF;
        border-radius: 20px;
        height: 550px;
        width: 400px;
    }

    .menu_item h5 {
        font-weight: bold;
        font-size: 25px;
        line-height: 28px;
    }

    .menu_item div {
        margin: 0 0 30px 0;
    }
    .menu_item div img {
        width: 260px;
        height: 260px;
        transform: matrix(-1, 0, 0, 1, 0, 0);
        border: 3px solid #FFFFFF;
        border-radius: 50%;
        box-sizing: border-box;
        filter: drop-shadow(0px 0px 5px #D36B4E);
    }
    .menu_item p {
        color: #7D7D7D;
        width: 230px;
        text-align: center;
        margin: 10px 0 15px 0
    }
    .menu_item hr{
        border: 2px solid #B0352F;
        width: 230px;
    }
    .menu_item span {
        margin-top: 15px;
        font-weight: bold;
        font-size: 20px;
        line-height: 22px;
    }

    /* CONTACTS */
    .contacts {
        background: #E5E5E5;
        background-image: url("img/contact_pizza2.png"),url("img/contact_pizza2.png");
        background-position: 0% 5%, 95% 50%;
        background-size: 10em, 25em;
        background-repeat: no-repeat;
    }
    .contact_container{
        display: flex;
        justify-content: space-around;
        background-color:#FFFFFF;;
        margin: 5% 15%;
        box-shadow: 0px 6px 40px #E9E5E5;
        border-radius: 20px;
        padding: 2% 4%;
    }
    .order {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .order h5{
        margin-bottom: 20px;
    }
    .order div {
        margin: 20px 0;
    }
    .order div p {
        line-height: 150%;
    }
    .order div span{
        font-weight: bold;
    }
    /* FOOTER */
    footer {
        background: #242933;
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .logo_bottom {
        margin-right: 20%;
    }
    .some_text {
        font-weight: bold;
        font-size: 30px;
        line-height: 33px;
        letter-spacing: 0.15em;
        color: rgba(255, 255, 255, 0.4);
    }

    @media only screen and (max-width: 1680px) { 
        
        .menu_item{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            background: #FFFFFF;
            border-radius: 20px;
            height: 550px;
            width: 100%;
        }

    }
    @media only screen and (max-width: 1024px) {
        .menu-container {
            grid-template-columns: repeat(2, 1fr);
        }
    } 

    @media only screen and (max-width: 425px) {
        
        .logo_top {
            position: relative;
            transform: translate(10%, 0);
        }

        .five_big {
            color: rgba(255, 253, 253, 0.66);
        }
        .header_container {
            width: 75%;
        }

        .container-about {
            flex-direction: column;
        }

        .about-us {
     
            margin: 0; 
            height: 100%;
        }

        .about-left {
            width: 100%;
            position: relative;
            left: 0;
            margin-bottom: 5%;
        }
        .about-right {
            position: relative;
            right: 0;
            margin-bottom: 5%;
        }
        .myPizza img {
           width: 100%; 
        }
        .menu-container {
            grid-template-columns: repeat(1, 1fr);
        }

        .map iframe {
            width: 100%
        }
        .contact_container {
            flex-direction: column;
            height: 100vh;
        }
    } 


@media only screen and (max-width:150px) {
    .ssss {
        width: 100px;
    }
}